:root {
  --gold: #ECAB59;
  --grey: #575757;
  --purple: #515875;
  --blue: #99B1CD;
  --green: #B8D8E1;
  --pink: #E9C2C3;
  --dark-pink: #CBA0A9;
  --white: #FFFFFF;

  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

/* RESET */
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ----- MOBILE ----- */

/*GENERAL */
h2 {
  font-family: 'Merienda', cursive;
}

.card {
  background-color: var(--pink);
  margin: 2rem;
  box-shadow: -10px 10px var(--gold);
  padding: 1rem;
}

/*HEADER */
#header {
  background-color: var(--blue);
  position: relative;
  height: 8.438rem;
}

#header > img {
  margin: 0 auto;
}

.hamburger-menu__icon {
  padding: 2rem;
  position: absolute;
  top: 20%;
}

.hamburger-menu__icon > div{
  height: 0.3rem;
  width: 2.5rem;
  background-color: var(--purple);
  margin: 0.2rem;
  border-radius: 1rem;
}

.hamburger-menu__content {
  display: none;
}

/*MAIN */
.section {
  padding: 2rem 1rem;
}

.what-we-do h5 {
  color: var(--purple);
}

.what-we-do ul {
  margin: 0.625rem 0 2.5rem;
}

.what-we-do ul li::before {
  content: '';
  height: 0.125rem;
  width: 1.25rem;
  background-color: var(--gold);
  display: inline-block;
  margin-right: 0.625rem;
}

.what-we-do ul li {
  color: var(--white);
  display: flex;
  align-items: center;
  line-height: 2;
}

/*FOOTER */
#footer {
  background-color: var(--purple);
  padding: 2rem 1rem;
  color: white;
  text-align: center;
  line-height: 1.5;
}

#footer > img {
  margin: 0 auto 2rem;
}

.developer-credits {
  margin-top: 1.5rem;
}

.developer-name {
  color: var(--pink) !important;
  font-weight: bold;
}

.developer-name:visited {
  color: currentColor;
}

/*************************************************************************************/

/*----- DESKTOP ----- */

@media (min-width: 768px) {
  /*GENERAL */

  /*HEADER */

  /*MAIN */

  /*FOOTER */
}

@media (min-width: 1024px) {
  /* For hidding the hamburger menu icon when it's a desktop resolution */
  .hamburger-menu__icon {
    display: none;
  }
}